<div class="container">
  <h6 class="main-text">Our latest collection</h6>
  <mat-form-field class="custom-input">
    <input matInput (keyup)="applyFilter($event)" type="text" placeholder="Search">
  </mat-form-field>

  <mat-form-field class="sort-dropdown">
    <mat-select (selectionChange)="sortProducts($event.value)" placeholder="Sort">
      <mat-option value="priceLowHigh">
        Price Low to High
      </mat-option>
      <mat-option value="priceHighLow">
        Price High to Low
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div fxLayout="row wrap" fxLayoutGap="50px">
    @for (product of products(); track product.id) {
      <mat-card class="product-card" (click)="addToCart(product)">
        <img mat-card-image src="/img/{{product.image_url}}" alt="">
        <mat-card-content>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.price | currency:'USD' }}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
