/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/rose-red.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(244, 244, 244);
}

.product-card {
  max-width: 150px;
}

mat-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

mat-card {
  transition: transform .2s;
  margin-bottom: 50px;
}

.container {
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}

.container-sm {
  padding: 50px;
  max-width: 800px;
  margin: auto;
}

mat-toolbar {
  background-color: #F7C212 !important;
}

mat-toolbar a {
  color: #58585A !important;
}

mat-card-title {
  padding-top: 10px;
  text-align: center;
}

mat-card-subtitle {
  color: #818081 !important;
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.main-text {
  padding-bottom: 10px;
}

.mat-line{
  color: #818081 !important;
  text-align: center;
  padding-bottom: 10px;
}

.mat-line-total{
  color: #818081 !important;
  text-align: center;
  font-weight: 800;
}

.sort-dropdown{
  margin-left: 20px;
}




